#wrapper {
  display: flex;
  flex-flow: row;
  width: auto;
}
.flex-item0 {
  width: 150px;
  height: 400px;
}
.flex-item1 {
  width: 800px;
  height: 400px;
}
.flex-item2 {
  width: 400px;
  height: 400px;
}
.center {
  position: absolute;
  left: 10px;
  top: 150px;
  z-index: -1;
}
.banner-clue {
  position: absolute;
  left: 100px;
  top: 450px;
  text-align: center;
  z-index: 0;
  opacity: 0.9
}
.banner-text {
  position: absolute;
  font-size: 50px;
  color: white;
  left: 200px;
  top: 475px;
  z-index: 1;
  opacity: 1
}
.op1-circle-icon {
  background: #ffc0c0;
  padding:20px;
  border-radius: 50%;
}
.op2-circle-icon {
  background: #ffc0c0;
  padding:20px;
  border-radius: 50%;
}
.you-circle-icon {
  background: #c0ffc0;
  padding:20px;
  border-radius: 50%;
}
.play-button {
  position: relative;
  left: 200px;
  background-color: #008CBA;
  font-size: 24px;
  padding: 32px 16px;
  border-radius: 50%;
}
