* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: center;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.op1-circle-icon {
  background: #ffc0c0;
  padding:30px;
  border-radius: 50%;
}
.op2-circle-icon {
  background: #ffc0c0;
  padding:20px;
  border-radius: 50%;
}
.you-circle-icon {
  background: #c0ffc0;
  padding:30px;
  border-radius: 50%;
}
