#wrapper {
  display: flex;
  flex-flow: row;
  width: auto;
}
.flex-item1 {
  width: 800px;
  height: 400px;
}
.flex-item2 {
  width: 800px;
  height: 400px;
}
.center {
  display: block;
  margin-left: 30;
  margin-right: auto;
  width: 100%;
}
.op1-circle-icon {
  background: #ffc0c0;
  padding:20px;
  border-radius: 50%;
}
.op2-circle-icon {
  background: #ffc0c0;
  padding:20px;
  border-radius: 50%;
}
.you-circle-icon {
  background: #c0ffc0;
  padding:20px;
  border-radius: 50%;
}
